In [1]:
print('Este código está sendo executado no jupyter!!!!!!!')

Este código está sendo executado no jupyter!!!!!!!

In [2]:
inteiro = 10
decimal = 1.3
booleano = True
nulo = None

print(f'inteiro: {inteiro}, decimal: {decimal}, booleano: {booleano}, nulo: {nulo}')

inteiro: 10, decimal: 1.3, booleano: True, nulo: None

In [3]:
inteiro = 10
decimal = 1.3
booleano = True
nulo = None

print('inteiro: {}, decimal: {}, booleano: {}, nulo: {}'.format(inteiro, decimal, booleano, nulo))

inteiro: 10, decimal: 1.3, booleano: True, nulo: None

In [4]:
inteiro = int ('10') + 1
string = str(10)
print(inteiro, string)

11 10

In [5]:
name = input('Enter your name: ')
print('Are you really', name, '?')

Enter your name: Danilo
Are you really Danilo ?

In [7]:
string = 'abc'
print(string[0])
string[0] = 'b'

a

TypeError: 'str' object does not support item assignment

In [8]:
a_list = []
L = [2, 'a', 4, [1,2]]
print(len(L)) #avalia para 4
print(L[0])   #avalia para 2
print(L[2]+1) #avalia para 5
print(L[3])   #avalia para [1,2], outra lista!
i=2 #
print(L[i-1]) #avalia para 'a' já que L[1] = 'a' acima

4
2
5
[1, 2]
a

In [9]:
a = [1, 2, 3]
b = [4, 5, 6]
a.extend(b)
print(a)
a.append(7)
print(a)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, 7]

In [10]:
nums = list(range(5))

print(nums)

print(nums[:]) # do início ao fim

print(nums[2:]) # do 2o (incluso) até o fim

print(nums[:2]) # do início ao 2o (excluso)

print(nums[2:4]) # do 2o (incluso) ao 4o (excluso)

print(nums[:-1]) # do início ao último (excluso)

nums[2:4] = [8, 9] # atribuição

print(nums)

[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4]
[2, 3, 4]
[0, 1]
[2, 3]
[0, 1, 2, 3]
[0, 1, 8, 9, 4]

In [12]:
mixed = [1, 2, 'a', 3, 4.0]

mixed = [x**2 for x in mixed if type(x) == int]

print(mixed)

[1, 4, 9]

In [13]:
lista = ['b', 'n', 'n']

lista1 = list(map(lambda x: x + 'a', lista))

print(lista1)

['ba', 'na', 'na']

In [14]:
l = [3, 'a', 4, 'b', 1, 4, 3]
l.sort()
print(l)

TypeError: '<' not supported between instances of 'str' and 'int'

In [15]:
x = [1, 2, 3]
y = [4, 5, 6]

for i, j in zip(x, y):
    print(i, j)

1 4
2 5
3 6

In [16]:
seasons = ['Spring', 'Summer', 'Fall', 'Winter']
tuples = list(enumerate(seasons))

print(tuples)

[(0, 'Spring'), (1, 'Summer'), (2, 'Fall'), (3, 'Winter')]

In [17]:
seasons = ['Spring', 'Summer', 'Fall', 'Winter']
for i, season in enumerate(seasons):
    print(i, season)

0 Spring
1 Summer
2 Fall
3 Winter

In [18]:
a = {1, 2, 3}
b = set([3, 4, 5])

In [19]:
len(a)

3

In [21]:
1 in a

True

In [22]:
a ^ b

{1, 2, 4, 5}

In [23]:
a | b

{1, 2, 3, 4, 5}

In [24]:
a - b

{1, 2}

In [25]:
a = {1, 2, 3}
b = set([3, 4, 5])

In [28]:
c = {1, 2}

In [30]:
a.issuperset(c)

True

In [38]:
b.intersection(a)

{3}

In [39]:
a = {1, 2, 3}
b = set([3, 4, 5])
c = {1, 2}

In [40]:
c.issubset(a)

True

In [41]:
d = {'camila': 21, 'roberto': 53, 'carla': 66}

In [43]:
d['camila']

21

In [44]:
# print d[21]  #resultará em um erro

In [45]:
'camila' in d

True

In [46]:
for key, value in d.items():
    print('chave', key, '\tvalor:', value)

chave camila 	valor: 21
chave roberto 	valor: 53
chave carla 	valor: 66

In [47]:
def func(a, norm=False):
    if norm: 
        return [(x - min(a))/ (max(a) - min(a)) for x in a]
    else: 
        return a
    
a = [1, 2, 3]
print(func(a))
print(func(a, False))
print(func(a, True))
print(func(a, norm=True))

[1, 2, 3]
[1, 2, 3]
[0.0, 0.5, 1.0]
[0.0, 0.5, 1.0]

In [48]:
def func(*args):
    print(args)
    for item in args:
        print(item)
func(1, 2, 3, 'a', ['b, c'], 6.3)

(1, 2, 3, 'a', ['b, c'], 6.3)
1
2
3
a
['b, c']
6.3

In [49]:
def func(a, b, c):
    print(f'a: {a}, b: {b}, c: {c}')
    
minha_lista = ['hello', 3, 1.7]
func(*minha_lista)

a: hello, b: 3, c: 1.7

In [50]:
def func(*args, **kwargs):
    for item in args:
        print(item)
    for key, value in kwargs.items():
        print(key, value)
# func(10) error
func(10, param1=10, param2='hello', x=6.3)

10
param1 10
param2 hello
x 6.3

In [51]:
def func(a, b, c): 
    print('a: {}, b: {}, c: {}'.format(a, b, c))

params = {'a': 10, 'b': 'hello', 'c': 1.7}
func(**params) # é equivalente a func(a=params['a'], b=params['b'], c=params['c'])

a: 10, b: hello, c: 1.7

In [52]:
def func(a, b, c): 
    return a**2, b**3, c**4

a, b, c = func(2, 3, 4)
print(a, b, c)

4 27 256

In [55]:
a = [1, 2, 4]
b, c, d = a
print(b, c, d)

1 2 4

In [56]:
def my_func(some_list: list):
    for p in some_list:
        print(p)

a = [1, 2, 3]
my_func(a)

1
2
3

In [57]:
def my_func(some_list: list) -> list:
    for i in range(len(some_list)):
        some_list[i] **= 2 #eleva cada membro da lista ao quadrado
    return some_list

a = [1, 2, 3]
my_func(a)

[1, 4, 9]

In [58]:
def addOne(n):
    return n+1

def applyToEach(maxN, f):
    for i in range(1, maxN):
        print(f(i))
        
applyToEach(10, addOne)

2
3
4
5
6
7
8
9
10

In [59]:
def f(x):
    return x**2
func = f
func(3.5)

12.25